html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.header-container {
  background-color: coral;
  color: #fff;
  height: 65px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  max-width: 95vw;
  margin: 0 auto;
  overflow: none !important;
  padding: 0 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.form {
  width: 150px;
  display: flex;
  flex-direction: column;
}
.container {
  margin: 0;
  padding: 0;
  background: repeating-conic-gradient(#e9e9e9 49.5% 0%, transparent 50% 0) 0% 0/
    100% 100%;
  flex: 1;
}
.notes {
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
